@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.container-fluid {
  padding: 0 20px;
}

/* hero slider */
.hero-section {
  position: relative;
}
.hero-slider {
  user-select: none;
}
.hero-overlay {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
}
.before-after {
	position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero-section .before-after {
	width: 100vw;
	height: 100vh;
}

.before-after__layer {
	position: absolute;
  inset: 0;
}

.before-after__bottom {
  background: #222;
  z-index: 1;
}

.before-after__top {
  z-index: 2;
  clip-path: inset(0 50% 0 0);
  transition: clip-path 0s;
}

.before-after__layer img {
	position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.before-after__handle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 3;
  cursor: ew-resize;
}

.before-after__handle-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: rgba(212, 212, 212, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.before-after__handle-inner:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid #FFFFFF;
  border-right: none;
  border-bottom: none;
  top: 50%;
  right: 50%;
  transform: rotate(-45deg) translate(10px, -3px);
}
.before-after__handle-inner:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid #FFFFFF;
  border-left: none;
  border-bottom: none;
  top: 50%;
  right: 50%;
  transform: rotate(45deg) translate(4px, -17px);
}

.before-after__content-wrap {
	position: absolute;
	width: 100%;
	height: 100%;
}

.hero-content {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  /* padding-bottom: 108px; */
  z-index: 2;
  user-select: none;
  display: flex;
  align-items: center;
}
.hero-text {
  position: relative;
  font-size: 20px;
  color: #fff;
  padding-left: 70px;
  margin-bottom: 30px;
}
.hero-text:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
}
.hero-text > div:first-child {
  font-size: 64px;
  margin-bottom: 6px;
  line-height: 1;
}
.hero-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-flex > div {
  max-width: 50%;
}
.hero-flex h1 {
  font-size: 100px;
  font-weight: normal;
  color: #fff;
  line-height: 1;
}
.content-hero {
  max-width: 464px;
  color: #fff;
}
.content-hero p {
  margin-bottom: 90px;
}
.content-hero a {
  background: transparent linear-gradient(180deg, #FFFFFF87 0%, #FFFFFF45 100%) 0% 0% no-repeat padding-box;
  border-radius: 10px;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  padding: 15px 24px;
}

@media (min-width: 1440px) {
  .container-fluid {
    padding: 0 50px;
  }
}